<html  xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">

  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-8">
      <div class="card shadow mb-5">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">List Employee</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="container">
          <h1 th:text="${employeesTitle}" style="text-align: center"></h1>
          <a th:text="${employeeAdd}" th:href="@{/add-employee}">Thêm mới</a>
          <table class="table">
            <tr>
              <th>ID</th>
              <th>UserName</th>
              <th>Email</th>
              <th>FullName</th>
              <th>ADDRESS</th>
              <th>PhoneNumble</th>
            </tr>
            <tr th:each="employee: ${employees}">
              <td th:text="${employee.id}"></td>
              <td th:text="${employee.username}"></td>
              <td th:text="${employee.email}"></td>
              <td th:text="${employee.fullname}"></td>
              <td th:text="${employee.address}"></td>
              <td th:text="${employee.phone}"></td>

              <td>
                <a th:href="@{/employees/edit/{id}(id=${employee.id})}">Sửa</a>
                <a th:href="@{/employees/delete/{id}(id=${employee.id})}" onclick="return confirm('Are you sure?')">Xoá</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>