<html  xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">

    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-8">
            <div class="card shadow mb-5">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">New Category!</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <form method="post" th:action="@{/add-Category}" enctype="multipart/form-data" th:object="${category}">
                    <div id="notification"></div>

                    <input name="__RequestVerificationToken" type="hidden" value="your_token_here" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 mb-6">
                                <label for="name" class="form-label">name:</label>
                                <input type="text" class="form-control" th:field="*{categoryname}" id="name" >
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
